main {
    border: 2px green solid;
    height: 500px;
}

.flex-container {
    border: 2px purple dashed;
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container div {
    border: 1px red solid;
    margin: 20px;
    padding: 30px;
    font-size: 30px;
    color: blue;
    background-color: pink;
}